<div id="post-{{id}}" class="card">
    <img class="card-image" src="{{thumbnail}}" alt="Missing Image">
    <div class="card-body">
        <p class="card-title"><b>{{title}}</b></p><br>
        <p class="card-text">{{description}}</p><br>
        <a href="/post/{{id}}" class="anchor-button">Post Details</a><br>

    </div>
</div>